<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vielen Dank!</title>
</head>
<body>
    <h1>Vielen Dank für Ihre Bestellung!</h1>
    <p>Wir haben Ihnen eine Bestätigung per Mail zugesandt.</p>
    <input type="button" value="Zurück zur Startseite" onclick="location.href='@Url.Action("Index", "Home")'" />
</body>
</html>
