@using System;
@using System.Diagnostics;
@using System.Data.SqlClient;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @{
            SqlCommand vSQLcommand;
            SqlDataReader vSQLreader;
            try
            {
                using (SqlConnection objSQLconn = new SqlConnection(System.Web.Configuration.WebConfigurationManager.ConnectionStrings["shop"].ConnectionString))
                {
                    objSQLconn.Open();
                    //read
                    vSQLcommand = new SqlCommand("SELECT * FROM tblProducts;", objSQLconn);
                    vSQLreader = vSQLcommand.ExecuteReader();
                    vSQLcommand.Dispose();
                    if (!vSQLreader.HasRows)
                    {
                        <h2>Keine Produkte in der Datenbank!</h2>
                    }
                    while (vSQLreader.Read())
                    {
                        int product_id = (int)vSQLreader["product_id"];
                        String product_name = (String)vSQLreader["product_name"];
                        decimal product_price= (decimal)vSQLreader["product_price"];
                        String product_description  = (String)vSQLreader["product_description"];

                        <form id="formProductToCart" name="formProductToCart" method="post" action="/shop/addtocart/">
                            <input id="inputProductID" name="inputProductID" type="hidden" value="@product_id" />
                            Name: @product_name<br />
                            Preis: @product_price<br />
                            Beschreibung: @product_description<br />
                            Menge: <input id="inputProductAmount" name="inputProductAmount" type="text" value="1" /><br />
                            <input type="submit" value="In den Wahrenkorb legen" />
                        </form>
                    }
                }
            }
            catch (Exception vError)
            {
                Debug.WriteLine(vError);
            }
        }
        <br /><input value="Zum Warenkorb" onclick="location.href='/Shop/Cart'" type="button">
        <!--input value="Test Mail" onclick="location.href='/Home/sendMail'" type="button"-->
    </div>
</body>
</html>
