
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
      <form id="formProductToCart" name="formProductToCart" method="post" action="/shop/addtocart/">
        Menge: <input id="inputProductAmount" name="inputProductAmount" type="text" value="1" /><br/>
        ID: <input id="inputProductID" name="inputProductID" type="text" value="1" />
        <input type="submit" value="OK" />
      </form>
    </div>
</body>
</html>
