
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        function hidefunction() {
            var x = document.getElementById('delivery_data');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <h1>Checkout</h1>
    <h2>Login</h2>
    <form id="checkout_login" name="formProductToCart" method="post" action="/shop/checkout_login/">
        Email: <input id="login_email" name="login_email" type="email" value="" />
        Password: <input id="login_password" name="login_password" type="password" value="" />
        <input type="submit" value="OK" /><br /> <br />
    </form>

    <h2>Registrieren</h2>
    <form id="checkout_register" name="checkout_register" method="post" action="/shop/checkout_register/">
        Salutation:
        <input checked="checked" name="register_salutation" type="radio" value="Male" /> Male
        <input name="register_salutation" type="radio" value="Female" /> Female <br />

        Title: <input id="register_title" name="register_title" type="password" value="" />

        Firstname: <input id="register_firstname" name="register_firstname" type="text" value="" />
        Lastname: <input id="register_lastname" name="register_lastname" type="text" value="" />
        Password: <input id="register_password" name="register_password" type="password" value="" />
        Telephone: <input id="register_telephone" name="register_telephone" type="tel" value="" />

        <h3>Billaddress:</h3>
        Street: <input id="register_bill_street" name="register_bill_street" type="text" value="" />
        Zipcode: <input id="register_bill_zipcode" name="register_bill_zipcode" type="text" value="" />
        Country: <input id="register_bill_country" name="register_bill_country" type="text" value="" />
        City: <input id="register_bill_city" name="register_bill_city" type="text" value="" /> <br /> <br />


        <input type="checkbox" id="register_delivery_address" name="register_delivery_address" onclick="hidefunction()">
        <div id="delivery_data" name="delivery_data" style="display:none">
            <label for="register_delivery_street"> Street: <input id="register_delivery_street" name="register_delivery_street" type="text" value="" /> </label><br>
            <label for="register_delivery_zipcode"> Zipcode: <input id="register_delivery_zipcode" name="register_delivery_zipcode" type="text" value="" /> </label><br>
            <label for="register_delivery_country"> Country: <input id="register_delivery_country" name="register_delivery_country" type="text" value="" /> </label><br>
            <label for="register_delivery_city"> City: <input id="register_delivery_city" name="register_delivery_city" type="text" value="" /> </label><br
        </div>


        <input type="submit" value="OK" />
    </form>


</body>
</html>
